---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: ch-vmm-daemon
rules:
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
  - patch
  - update
- apiGroups:
  - ""
  resources:
  - persistentvolumeclaims
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - ""
  resources:
  - pods
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - delete
- apiGroups:
  - cloudhypervisor.quill.today
  resources:
  - virtualmachines
  - vmsnapshots
  - vmrollbacks
  - vmrestorespecs
  - virtualmachinemigrations
  - virtualdisks
  - virtualdisksnapshots
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - cloudhypervisor.quill.today
  resources:
  - virtualmachines/finalizers
  - vmsnapshots/finalizers
  - virtualdisks/finalizers
  - virtualdisksnapshots/finalizers
  verbs:
  - update
- apiGroups:
  - cloudhypervisor.quill.today
  resources:
  - virtualmachines/status
  - vmsnapshots/status
  verbs:
  - get
  - patch
  - update

- apiGroups:
  - snapshot.storage.k8s.io
  resources:
  - volumesnapshots
  - volumesnapshotcontents
  - volumesnapshotclasses
  verbs:
  - get
  - list
  - watch
  - create
  - delete

- apiGroups:
   - cdi.kubevirt.io
  resources:
  - datavolumes
  verbs:
  - create
  - patch
  - list
  - update
  - watch
  - delete
