---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.16.1
  name: vmrollbacks.cloudhypervisor.quill.today
spec:
  group: cloudhypervisor.quill.today
  names:
    kind: VMRollback
    listKind: VMRollbackList
    plural: vmrollbacks
    singular: vmrollback
  scope: Namespaced
  versions:
  - name: v1beta1
    schema:
      openAPIV3Schema:
        description: VMRollback is the Schema for the vmrollbacks API.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: VMRollbackSpec defines the desired state of VMRollback.
            properties:
              snapshot:
                description: Foo is an example field of VMRollback. Edit vmrollback_types.go
                  to remove/update
                type: string
            type: object
          status:
            description: VMRollbackStatus defines the observed state of VMRollback.
            properties:
              phase:
                description: |-
                  INSERT ADDITIONAL STATUS FIELD - define observed state of cluster
                  Important: Run "make" to regenerate code after modifying this file
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
