name: build

on:
  - push
  - pull_request

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version: 1.24.0
      - run: sudo apt-get update && sudo apt-get install libaio-dev libsanlock-dev

      - uses: codecov/codecov-action@v4